<!DOCTYPE html>
{% extends "infoapp/base.html" %}
{% block body_block %}

<h1 class="text-center">Contact Information</h1>

<div class="text-center">
  <p></p>
  <a href="https://www.linkedin.com/in/ekaterinabevinova/" class="fa fa-linkedin fa-lg"></a>
  <a href="https://github.com/esbevinova" class="fa fa-github fa-lg"></a>
  <p></p>
</div>
<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4">
            <div class="small text-black-50">Hoboken, New Jersey</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4">
            <div class="small text-black-50">
              <a href="#">ebevinova@gmail.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4">
            <div class="small text-black-50">+1 (732) 614-5717</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="height: 50px"></div>
<p class="text-center">Thanks, come again!</p>
<div style="height: 700px"></div>
{% endblock%}
